############################
### MUST HAVE THESE FIELDS ##
- name: id_field
  value: deployment_name
  default: deployment_name
  editable: false
  required: false
  description: "Field that contains the ID of the job"
############################

- name: deployment_name
  value: "gpustack"
  default: "gpustack"
  editable: true
  required: true
  description: "deployment name"

- name: admin_password
  value: "password"
  default: "password"
  editable: true
  required: true
  description: "Default password name for <admin> user"

- name: working_memory
  value: 30
  default: 30
  editable: true
  required: true
  description: "Temporary storage to use to cache model weights (in GB)"

- name: nvidia_gpus
  value: 1
  default: 1
  editable: true
  required: true
  description: "Number of NVIDIA GPUs (tensor and pipeline parallelism)."
  
- name: amd_gpus
  value: 0
  default: 0
  editable: true
  required: true
  description: "Number of remote AMD ROCm GPUs (for tensor and pipeline parallelism)."

- name: token
  value: "sometoken"
  default: "sometoken"
  editable: true
  required: true
  description: "Internal token to use to join workers"

- name: hf_token
  value: <your token>
  default: null
  editable: true
  required: true
  description: "Huggingface token, required to load model weights"

- name: cpus
  value: 2
  default: 2
  editable: true
  required: true
  description: "CPUs per single worker (final one = cpus * num_workers)"

- name: memory
  value: 8
  default: 8
  editable: true
  required: true
  description: "RAM memory per single worker (final one = memory * num_workers)"

- name: cuda_gpu_mem_percentage
  value: 100
  default: 100
  editable: true
  required: false
  description: "Maximum memory fraction allowed to be used from the GPU vRAM."

- name: max_retries
  value: 1000
  default: 1000
  editable: true
  required: false
  description: "If the job fails, how many times to retry redeployment"

- name: nodeport
  value: ""
  default: ""
  editable: true
  required: false
  description: "Specify the node port for the service that exposes the job"