############################
## MUST HAVE THESE FIELDS ##
- name: id_field
  value: deployment_name
  default: deployment_name
  editable: false
  required: false
  description: "Field that contains the ID of the job"
############################

- name: deployment_name
  value: petals-worker-1
  default: petals-worker-1
  editable: true
  required: true
  description: "Name of the deployment job"

- name: priority
  value: high-priority
  default: high-priority
  editable: true
  required: false
  description: "Priority for this job"

- name: storage
  value: "pool-cache"
  default: "pool-cache"
  editable: true
  required: true
  description: "Pool storage to use to cache partial weights for serving the model (chat app)"

- name: mount_path
  value: ""
  default: ""
  editable: true
  required: false
  description: "Local storage for model weights (workers). Empty for root ('/') "

- name: max_workers
  value: "1"
  default: "1"
  editable: true
  required: false
  description: "Maximum number of workers to spawn in the cluster"

- name: hf_token
  value: <your token here>
  default: null
  editable: true
  required: false
  description: "Huggingface token, required to load model weights"

- name: min_cpus
  value: "2"
  default: "2"
  editable: true
  required: false
  description: "CPUs per single worker (final one = cpus * num_workers)"

- name: min_memory
  value: "4"
  default: "4"
  editable: true
  required: false
  description: "RAM memory per single worker (final one = memory * num_workers)"

- name: max_cpus
  value: "12"
  default: "12"
  editable: true
  required: false
  description: "CPUs per single worker (final one = cpus * num_workers)"

- name: max_memory
  value: "16"
  default: "16"
  editable: true
  required: false
  description: "RAM memory per single worker (final one = memory * num_workers)"

- name: ephemeral_storage
  value: "30"
  default: "30"
  editable: true
  required: false
  description: "Storage reserved per worker to download model shards weights"

- name: gpus
  value: "1"
  default: "1"
  editable: true
  required: false
  description: "GPUs per single worker (final one = gpus * num_workers)"

- name: cuda_gpu_mem_percentage
  value: 100
  default: 100
  editable: true
  required: false
  description: "Maximum memory fraction allowed to be used from the GPU vRAM."

- name: model_id
  value: "mistralai/Mixtral-8x22B-Instruct-v0.1"
  default: "mistralai/Mixtral-8x22B-Instruct-v0.1"
  editable: true
  required: true
  description: ""

- name: initial_peers
  value: ""
  default: ""
  editable: true
  required: false
  description: ""

- name: extra
  value: ""
  default: ""
  editable: true
  required: false
  description: "Extra parameters for Petals cli"

- name: nodeport
  value: ""
  default: ""
  editable: true
  required: false
  description: "Specify the node port for the service that exposes the job"