############################
## MUST HAVE THESE FIELDS ##
- name: id_field
  value: deployment_name
  default: deployment_name
  editable: false
  required: false
  description: "Field that contains the ID of the job"
############################

# place all your template variables under here
- name: deployment_name
  value: kalavai-dummy-template
  default: kalavai-dummy-template
  editable: true
  required: true
  description: "Name of the deployment job"

- name: nodeport
  value: ""
  default: ""
  editable: true
  required: false
  description: "Specify the node port for the service that exposes the job"