############################
### MUST HAVE THESE FIELDS ##
- name: id_field
  value: deployment_name
  default: deployment_name
  editable: false
  required: false
  description: "Field that contains the ID of the job"
############################

- name: deployment_name
  value: "ray-cluster" 
  default: "ray-cluster"
  editable: true
  required: true
  description: "Name of the job"

- name: min_nvidia_workers
  value: 0
  default: 0
  editable: true
  required: false
  description: "Minimum NVIDIA GPU workers to always have running (can be 0). 1 worker == 1 GPU"

- name: max_nvidia_workers
  value: 1
  default: 1
  editable: true
  required: true
  description: "Maximum target NVIDIA GPU workers for autoscaling. 1 worker == 1 GPU"

- name: min_amd_workers # DISABLED
  value: 0
  default: 0
  editable: false
  required: false
  description: "Minimum AMD GPU workers to always have running (can be 0). 1 worker == 1 GPU"

- name: max_amd_workers # DISABLED
  value: 0
  default: 0
  editable: false
  required: false
  description: "Maximum target AMD GPU workers for autoscaling. 1 worker == 1 GPU"

- name: cpus
  value: 2
  default: 2
  editable: true
  required: false
  description: "CPUs to be allocated per WORKER (final one = cpus * workers)."

- name: memory
  value: 8
  default: 8
  editable: true
  required: true
  description: "RAM memory to be allocated per WORKER (final one = memory * workers)."

- name: cuda_gpu_mem_percentage
  value: 100
  default: 100
  editable: true
  required: false
  description: "Maximum memory fraction allowed to be used from the GPU vRAM."

- name: ray_version
  value: "2.49.0"
  default: "2.49.0"
  editable: true
  required: false
  description: "Ray version to use in the cluster"

- name: python_version
  value: "312"
  default: "312"
  editable: true
  required: false
  description: "Python version to use in the cluster (39, 310, 311, 312)"

- name: cuda_version
  value: "128"
  default: "128"
  editable: true
  required: false
  description: "CUDA version to use in the cluster (117 to 128)"

- name: upscaling_mode
  value: "Default"
  default: "Default"
  editable: true
  required: false
  description: "Defines autoscale mode. One of: Conservative, Default or Aggressive. https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/configuring-autoscaling.html#scale-up-and-scale-down-speed"

- name: idle_timeout_seconds
  value: 60
  default: 60
  editable: true
  required: false
  description: "Defines the waiting time in seconds before scaling down an idle worker pod. Aggressive. https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/configuring-autoscaling.html#scale-up-and-scale-down-speed"

## Fault tolerance
- name: external_redis_url
  value: ""
  default: ""
  editable: true
  required: false
  description: "External Redis DB for Ray fault tolerance. If blank, a local Redis instance will be deployed. https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/kuberay-gcs-ft.html"

- name: redis_password
  value: "changeme"
  default: "changeme"
  editable: true
  required: false
  description: "Admin password for the (external or internal) Redis DB"
