---
name: Publish Docker image

on: # yamllint disable-line rule:truthy
  push:
    tags:
      - "v*.*.*"
  # release:
  #   types: [created]

jobs:
  build-and-push-docker:
    permissions:
      contents: write
      packages: write
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 1. Automatically extract tags/labels from the release event
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/kalavai-net/kube-watcher
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest

      # 2. Log in to GHCR
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3. Build and push using the tags from the 'meta' step
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}